Package            Version
------------------ -----------    
ChatterBot         1.0.8      
chatterbot-corpus  1.2.0
comtypes           1.1.11
en-core-web-sm     3.3.0
Jinja2             3.1.2
Kivy               2.1.0
numpy              1.22.4
preshed            3.0.6
PyAudio            0.2.11
pypiwin32          223
pyttsx3            2.90
pywin32            304
PyYAML             3.13
spacy              3.3.0
spacy-legacy       3.0.9
spacy-loggers      1.0.2
SpeechRecognition  3.8.1
SQLAlchemy         1.3.24